
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.top-container {
  overflow: auto;

  .vibes-and-playback {
    float: left;
    width: 28%;
    margin-right: 2%;
  }

  .route-viewer {
    float: left;
    background: white;
    width: 70%;
    padding: 2.5%;
    border-radius: 7px;
  }
}

.api-tracks {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  white-space: nowrap;

  & > div {
    float: left;
    width: 31.3333333333%;
    margin: 2% 1%;

    img {
      max-width: 100%;
    }
  }
}

.playback-buttons {
  img {
    max-width: 100%;
  }

  .playback-previous,
  .playback-resume,
  .playback-pause,
  .playback-next {
    width: 33.33%;
    float: left;
  }

  .playback-previous {
    text-align: left;
  }

  .playback-resume,
  .playback-pause {
    text-align: center;
  }

  .playback-next {
    text-align: right;
  }
}
